.Banner_lg {
  height: 586px;
}
.Banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: translateY(-50px);
  z-index: -1;
}
.Banner_search-text {
  width: 100%;
  top: 45% !important;
  color: #fff;
  z-index: 9;
  text-align: center;
} 

.pos-ab-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Banner_search-text h1 {
  font-size: 51px;
  font-weight: 700;
}
.Banner_search-text p {
  padding-left: 25%;
  padding-right: 25%;
  font-size: 12px;
  font-style: italic;
}

.blog-section {
  padding-top: 53px !important;
  .blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 182px 182px;
    grid-template-areas: "area1 area1 area2" "area1 area1 area3";
    grid-gap: 8px;
    z-index: 2;
    .area1 {
      grid-area: area1;
    }
    .area2 {
      grid-area: area2;
    }
    .area3 {
      grid-area: area3;
    }
    .blog-item {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #201f2d;
        opacity: 0.36;
      }
    }
  }
  .blog-carousel {
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-vertical-gap: 13px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    .swiper-pagination {
      right: 26px;
    }
    .swiper-pagination-clickable
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      background-color: transparent;
      border: 3px solid var(--swiper-pagination-color);
    }
  }
}

.highlights-section {
  margin-top: -92px;
  padding-top: 189px;
}

.list-categories {
  overflow-x: auto;
  .cat-item {
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: var(--bs-theme-light-2);
    }
    &.active {
      border-color: var(--bs-theme-second) !important;
      color: var(--bs-theme-second) !important;
      background-color: rgba(var(--bs-theme-second-rgb), 0.25);
    }
    &:last-child {
      margin-right: 0px !important;
    }
  }
}

.list-item {
  border: solid 1px #e5e6eb;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: var(--bs-theme-light-2);
    border-color: var(--bs-theme-light);
  }
  .alert {
    font-size: 11px !important;
  }
  .item-infos {
    .info {
      transition: background-color 0.15s ease;
      span {
        font-size: 11px;
        white-space: nowrap;
      }
    }
  }
  &-info {
    font-size: 13px;
    font-weight: normal;
    color: #8a92a8;
    .text-theme-second {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .info {
    width: max-content;
  }
  &:hover {
    .item-infos {
      .info {
        // background-color: #ffffff !important;
      }
    }
  }
  i.icon-pin {
    font-size: 20px;
    color: var(--bs-theme-second);
  }
  i.icon-star {
    font-size: 12px;
    color: #ffd128;
    margin-right: 7px;
  }

  i.icon-user {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }
  i.icon-shower {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }
  i.icon-bed {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }

  .item-name {
    small {
      font-size: 11px;
      font-weight: 500;
      color: #162651;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      color: #162651;
    }
  }
  .item-location {
    span {
      b {
        font-size: 14px;
        font-weight: 500;
        color: #162651;
      }
      font-size: 9px;
      font-weight: 500;
      color: #8a92a8;
    }
  }
  .item-infos {
    flex-wrap: nowrap;
    span {
      font-weight: 600;
      color: var(--bs-theme-first);
    }
  }

  .item-firsat-gece {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left {
      p {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        color: var(--bs-theme-second);
        margin-bottom: 0;
        span {
          padding: 4px 5px;
          border-radius: 4px;
          color: #fff;
          background-color: var(--bs-theme-second);
          margin-right: 6px;
        }
        &.item-firsat-gece-left-day {
          color: #fff;
          font-weight: 500;
          margin-top: 5px;
        }
      }
    }
    &-price {
      color: var(--bs-theme-second);
      font-size: 20px;
      font-weight: 600;
    }
  }

  &-firsat {
    border-color: #556585;
    border-top: none;

    .item-name {
      small {
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
    .item-star {
      span {
        color: #e7edff;
      }
    }
    .item-location {
      span {
        b {
          color: #fff !important;
        }
      }
    }
    .item-infos {
      span {
        color: #fff !important;
      }
    }

    &:hover {
      .item-name {
        small {
          color: var(--bs-theme-first) !important;
        }
        span {
          color: var(--bs-theme-first) !important;
        }
      }
      .item-star {
        span {
          color: var(--bs-theme-first);
        }
      }
      .item-location {
        span {
          b {
            color: var(--bs-theme-first) !important;
          }
        }
      }
      .item-infos {
        span {
          color: var(--bs-theme-first) !important;
        }
      }
      .item-firsat-gece-left-day {
        color: var(--bs-theme-first) !important;
      }
    }
  }
}

.list-slide {
  overflow: unset;
  position: relative;
  &:before {
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: -50%;
    top: 0;
    z-index: 2;
    opacity: 0.5;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 2;
    opacity: 0.5;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
  }
  .swiper-slide {
    transition: opacity 0.15s ease-in-out;
  }
  //   .swiper-slide-duplicate {
  //     opacity: 0.3;
  //   }
  //   .swiper-slide-visible,
  //   .swiper-slide-active {
  //     opacity: 1;
  //   }
  .list-navigation-next,
  .list-navigation-prev {
    background-color: #ffffff;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    --swiper-navigation-size: 11px;
    color: #000;
    top: 25%;
  }
  .list-navigation-next {
    right: unset;
    left: calc(100% + 17px);
  }
  .list-navigation-prev {
    left: unset;
    right: calc(100% + 17px);
  }
  &-firsat {
    &:before,
    &:after {
      background-color: rgba(
        var(--bs-theme-first-rgb),
        var(--bs-bg-opacity)
      ) !important;
      background-color: transparent;
    }
  }
}

.holiday-banner {
  & > * {
    position: relative;
    z-index: 2;
  }
  .banner-image {
    z-index: 1;
    filter: brightness(90%);
  }
  .big-title {
    /* font-size: calc(1.625rem + 2.175vw) !important; */
    font-size: 3.25rem !important;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 235px 235px 235px;
  grid-gap: 17px;
  .area1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .area2 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .area3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .area4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .area5 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .area6 {
    grid-area: 1 / 3 / 3 / 4;
  }
  .area7 {
    grid-area: 3 / 3 / 4 / 4;
  }
  .cat-item {
    .item-caption {
      background-color: rgba(38, 30, 50, 0.4);
      transition: background-color 0.35s ease;
      .title {
        transition: color 0.15s ease;
      }
      .caption-content {
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: all 0.35s ease;
      }
    }
    &:not(:hover) {
      .item-caption {
        .caption-content {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
      }
    }
    &:hover {
      .item-caption {
        background-color: rgba(var(--bs-theme-first-rgb), 0.68);
        z-index: 4;
        .title {
          color: var(--bs-theme-second) !important;
        }
        .caption-content {
          max-height: 100%;
          opacity: 1;
        }
      }
    }
  }
  .ribbon {
    background-color: #ffd128;
    transform: rotate(-45deg) translate(-30%, -45%);
    z-index: 3;
  }
}
.section-caption {
  h4 {
    display: flex;
    align-items: center;
    i.icon-flame {
      width: 29px;
      height: 29px;
      background-size: 100% 100%;
      background-image: url(../../img/icon-flame.svg);
      margin-right: 7px;
    }
  }
}
.popular-section {
  transform: translateY(-100px);
  margin-bottom: -100px;
}

// RESPONSIVE
@media only screen and (max-width: 1299px) {
  .list-slide .list-navigation-prev {
    right: unset;
    left: 16px;
  }
  .list-slide .list-navigation-next {
    left: unset;
    right: 16px;
  }
}

@media only screen and (max-width: 1199px) {
  .search-engine {
    .dropdown-wrapper {
      margin-bottom: 12px;
      &.rg,
      &.gst {
        width: 30%;
      }
      &.dt {
        width: 20%;
      }
      &.show .underbox {
        top: 100%;
      }
      &:first-child .underbox {
        left: 0;
      }
    }
    .submit-wrapper {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .search-engine {
    .dropdown-wrapper {
      margin-bottom: 4px;
      &.rg,
      &.gst {
        width: 100%;
      }
      &.dt {
        width: 50%;
      }
    }
  }
  .blog-section .blog {
    grid-template-areas: "area1 area1 area1" "area1 area1 area1";
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    grid-gap: unset;
    margin-left: -8px;
    margin-right: -8px;
    width: unset !important;
    .cat-item,
    .area7 {
      width: calc(50% - 12px);
      flex-grow: 1;
      margin: 6px;
    }
    .cat-item .cat-image {
      height: 300px !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .list-slide .list-navigation-next,
  .list-slide .list-navigation-prev {
    width: 31px;
    height: 31px;
  }
  .categories {
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: auto;
    .cat-item,
    .area7 {
      width: 44%;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .search-engine {
    .dropdown-wrapper {
      .selection {
        .icon-box {
          width: 40px;
          height: 48px;
          svg,
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
      .underbox-wrapper {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        display: flex;
        align-items: end;
        transition: all 0.3s ease;
        padding-top: 50px;
        .underbox-shadow {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.38);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.15s ease, visibility 0.15s ease;
        }
        .underbox {
          position: relative !important;
          top: unset !important;
          left: unset !important;
          right: unset !important;
          transform: none !important;
          border-radius: 16px 16px 0px 0px;
          max-height: 100%;
          display: flex;
          flex-flow: column nowrap;
          & > * {
            padding-left: 24px !important;
            padding-right: 24px !important;
          }
          .underbox-content {
            flex: 1 1 auto;
            overflow: auto;
            padding-top: 24px;
            padding-bottom: 24px;
          }
        }
      }
      &.otel-search {
        height: 56px;
        .selection {
          transition: all 0.35s ease;
          border-radius: 8px;
          background-color: #ffffff;
        }
        &.show .selection {
          position: fixed;
          transform: translateY(-120px);
          left: 12px;
          right: 12px;
          padding: 8px 16px 8px 8px !important;
          z-index: 10;
        }
        .underbox-wrapper {
          align-items: flex-start;
          padding-top: 110px;
          transition: all 0.5s ease;
          max-height: 100%;
          overflow-y: auto;
          .underbox {
            border-radius: 8px;
            margin-left: 12px;
            margin-right: 12px;
          }
        }
      }
      &.show {
        .underbox-wrapper {
          top: 0;
          .underbox-shadow {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  .blog-section {
    .blog {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 130px 130px;
      grid-gap: 0px;
    }
  }
  .highlights-section {
    margin-top: -112px;
    padding-top: 169px;
  }
  .blog-section .blog-carousel {
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-vertical-gap: 8px;
    .swiper-pagination {
      right: 16px;
    }
    .swiper-pagination-clickable
      .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      border-width: 2px;
    }
  }
  .list-slide {
    .swiper-wrapper {
      .swiper-slide {
        opacity: 1;
      }
    }
    .list-navigation-next,
    .list-navigation-prev {
      width: 44px;
      height: 100%;
      border-radius: 0px !important;
      top: 0;
      --swiper-navigation-size: 16px;
      opacity: 0;
      pointer-events: none;
      &::after {
        display: none;
      }
    }
    &.end-shadow {
      .list-navigation-next {
      }
    }
    &.start-shadow {
      .list-navigation-prev {
      }
    }
  }
  .holiday-banner {
    span.fs-5 {
      font-size: 16px !important;
    }
    .big-title {
      font-size: 2.25rem !important;
    }
    svg {
      width: 30px;
      height: 33px;
    }
  }
  .categories {
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: auto;
    .cat-item,
    .area7 {
      width: 70%;
    }
  }
  .section-caption {
    h4 {
      font-size: 16px;
    }
    a {
        padding: 10px 0 !important;
      span {
        font-size: 12px;
      }
      margin-bottom: 0!important;
    }
  }
}

@media only screen and (max-width: 350px) {
  .list-slide {
    .swiper-wrapper {
      .swiper-slide {
        width: 273px;
      }
    }
  }
}
