body {
    background-image: url(../../img/tools/page-effect.svg);
    background-size: 874px 874px;
    background-position: calc(100% + 207px)  196px;
    background-repeat: no-repeat;
}

.main {
    background-image: url(../../img/tools/page-effect.svg);
    background-size: 874px;
    background-position: calc(100% - 117%) 294px;
    background-repeat: no-repeat;
}

.blog-content-wrapper {
    margin-left: -52px;
    .cat-item {
        background-color: rgba(var(--bs-theme-second-rgb), 0.25);
    }
}

.holiday-banner {
    &>* {
        position: relative;
        z-index: 2;
    }
    .banner-image {
        z-index: 1;
        filter: brightness(90%);
    }
    .big-title {
        /* font-size: calc(1.625rem + 2.175vw) !important; */
        font-size: 3.25rem !important;
    }
}

@media screen and (max-width:991px) {
    .main {
        .blog-content-wrapper {
            margin-left: 8px !important;
            margin-top: -40px;
        }
    }
}
@media screen and (max-width:575px) {
    .page-description {
        .description {
            font-size: 18px !important;
        }
    }
    .recommended-blog .blog-image {
        height: 300px;
    }
    .holiday-banner {
        span.fs-5 {
            font-size: 16px !important;
        }
        .big-title {
            font-size: 2.25rem !important;
        }
        svg {
            width: 30px;
            height: 33px;
        }
    }
}