.list-item {
  border: solid 1px #e5e6eb;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: var(--bs-theme-light-2);
    border-color: var(--bs-theme-light);
  }
  .alert {
    font-size: 11px !important;
  }
  .item-infos {
    .info {
      transition: background-color 0.15s ease;
      span {
        font-size: 11px;
        white-space: nowrap;
      }
    }
  }
  &-info {
    font-size: 13px;
    font-weight: normal;
    color: #8a92a8;
    .text-theme-second {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .info {
    width: max-content;
  }
  &:hover {
    .item-infos {
      .info {
        // background-color: #ffffff !important;
      }
    }
  }
  i.icon-pin {
    font-size: 20px;
    color: var(--bs-theme-second);
  }
  i.icon-star {
    font-size: 12px;
    color: #ffd128;
    margin-right: 7px;
  }

  i.icon-user {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }
  i.icon-shower {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }
  i.icon-bed {
    font-size: 16px;
    color: #8a93a8;
    margin-right: 4px;
  }

  .item-name {
    small {
      font-size: 11px;
      font-weight: 500;
      color: #162651;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      color: #162651;
    }
  }
  .item-location {
    span {
      b {
        font-size: 14px;
        font-weight: 500;
        color: #162651;
      }
      font-size: 9px;
      font-weight: 500;
      color: #8a92a8;
    }
  }
  .item-infos {
    flex-wrap: nowrap;
    span {
      font-weight: 600;
      color: var(--bs-theme-first);
    }
  }

  .item-firsat-gece {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left {
      p {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        color: var(--bs-theme-second);
        margin-bottom: 0;
        span {
          padding: 4px 5px;
          border-radius: 4px;
          color: #fff;
          background-color: var(--bs-theme-second);
          margin-right: 6px;
        }
        &.item-firsat-gece-left-day {
          color: #fff;
          font-weight: 500;
          margin-top: 5px;
        }
      }
    }
    &-price {
      color: var(--bs-theme-second);
      font-size: 20px;
      font-weight: 600;
    }
  }

  &-firsat {
    border-color: #556585;
    border-top: none;

    .item-name {
      small {
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
    .item-star {
      span {
        color: #e7edff;
      }
    }
    .item-location {
      span {
        b {
          color: #fff !important;
        }
      }
    }
    .item-infos {
      span {
        color: #fff !important;
      }
    }

    &:hover {
      .item-name {
        small {
          color: var(--bs-theme-first) !important;
        }
        span {
          color: var(--bs-theme-first) !important;
        }
      }
      .item-star {
        span {
          color: var(--bs-theme-first);
        }
      }
      .item-location {
        span {
          b {
            color: var(--bs-theme-first) !important;
          }
        }
      }
      .item-infos {
        span {
          color: var(--bs-theme-first) !important;
        }
      }
      .item-firsat-gece-left-day {
        color: var(--bs-theme-first) !important;
      }
    }
  }
}

.Favs {
  &-in {
    padding: 40px 0;
    h2 {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 27px;
      color: var(--bs-theme-first);
      span {
        color: var(--bs-theme-second);
      }
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    .list-item {
      width: calc(25% - 14px);
    }
  }
}
