body {
    background-color: var(--bs-theme-light-2);
}

.steps {
    --disabled-color: #D3EBE8;
    --active-color: var(--bs-theme-second);
    .step {
        width: 100%;
        max-width: 162px;
        .step-circle {
            position: relative;
            z-index: 1;
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            background-color: var(--disabled-color);
            .icon {
                opacity: 0;
                transition: 0.15s ease;
            }
        }
        .step-line {
            height: 6px;
            width: 100%;
            left: 50%;
            background-color: var(--disabled-color);
        }
        &.completed {
            .step-title {
                color: var(--bs-theme-second) !important;
            }
            .step-circle, .step-line{
                background-color: var(--active-color);
                .icon {
                    opacity: 1;
                }
            }
        }
        &.active {
            .step-title {
                color: var(--bs-dark) !important;
            }
            .step-circle{
                background-color: var(--active-color);
            }
        }
    }
}

.content-box {
    min-height: 727px;
}

.white-box {
    background-color: #ffffff;
    padding: 58px 69px 48px 63px;
    border-radius: 20px;
}


.input-field {
    padding: 0px 16px;
    .line {
        position: absolute;
        top: 100%;
        left: 50%;
        right: 50%;
        height: 1px;
        background-color: var(--bs-theme-second);
        transition: all 0.15s ease;
    }
    input, select, textarea {
        padding: 9px 16px 12px 0px;
        &[type="radio"], &[type="checkbox"] {
            padding: inherit;
        }
        &::placeholder {
            color: var(--bs-theme-secondary);
        }
        &:focus + .line {
            left: 0;
            right: 0;
        }
    }
    .icon-box {
        width: 60px;
    }
    .select-date {
        input {
            width: 42px;
        }
    }
}

.bank-list {
    .bank-item {
        cursor: pointer;
        transition: border-color 0.15s ease;
        .check-circle {
            flex-shrink: 0;
            width: 28px;
            height: 28px;
            .icon {
                transition: opacity 0.15s ease;
            }
        }
    }
    input:checked {
        &+.bank-item {
            border-color: var(--bs-theme-second) !important;
            .check-circle {
                border-color: var(--bs-theme-second) !important;
                background-color: var(--bs-theme-second) !important;
                .icon {
                    opacity: 1 !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .steps .step {
        max-width: 260px;
    }
    .white-box {
        padding: 38px 49px 38px 43px;
    }
}

@media only screen and (max-width: 575px) {
    .white-box {
        padding: 38px 39px 38px 33px;
        min-height: unset;
    }
    .bank-list .bank-item .check-circle {
        width: 20px;
        height: 20px;
        border-width: 2px !important;
    }
    .description {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 375px) {
    .white-box {
        padding: 24px;
    }
}