.view-detail-section {
    .action-btn {
        .icon-box {
            width: 41px;
            height: 41px;
        }
    }
    .view-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 187px 187px;
        grid-gap: 13px;
        .area-1 {
            grid-area: 1 / 1 / 3 / 3;
        }
        .area-2 {
            grid-area: 1 / 3 / 2 / 4;
        }
        .area-3 {
            grid-area: 1 / 4 / 2 / 5;
        }
        .area-4 {
            grid-area: 2 / 3 / 3 / 4;
        }
        .area-5 {
            grid-area: 2 / 4 / 3 / 5;
        }
        .view-item {
            .hover-box {
                opacity: 0;
                visibility: visible;
                transition: all 0.25s ease;
            }
            &:hover {
                .hover-box {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.search-engine-section {
    position: sticky;
    top: 83px;
    left: 0;
    margin-top: -44px;
}

.search-engine {
    .tab {
        border-radius: 19px;
        box-shadow: 0px 22px 114px 0px rgba(135, 131, 153, 0.06);
    }
    .hotel-name {
        width: 27.5%;
    }
    .dropdown-wrapper {
        position: relative;
        flex-shrink: 0;
        &.rg {
            width: 24%;
        }
        &.dt {
            width: 18%;
        }
        &.gst {
            width: 22.3%;
        }
        &.selected {
            .selection {
                .total {
                    color: var(--bs-dark) !important;
                }
            }
            .icon-box svg,
            .icon-box svg * {
                fill: var(--bs-theme-second);
            }
        }
        &.dt.selected {
            .selection {
                .total {
                    text-transform: uppercase;
                }
            }
        }
        .underbox {
            position: absolute;
            left: 0;
            background-color: #ffffff;
            border: 1px solid var(--bs-theme-light-2);
            border-radius: 20px;
            z-index: 3;
            width: 100%;
            min-width: 288px;
            top: 50%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.35s ease;
            .underbox-content {
                padding: 27px 24px;
            }
        }
        &.show {
            .underbox {
                top: calc(100% + 20px);
                opacity: 1;
                visibility: visible;
            }
        }
        &.dt, &.gst {
            .underbox {
                min-width: 310px;
            }
        }
        &.dt .underbox .underbox-content {
            padding: 16px 24px;
        }
        .select-item {
            &:last-child {
                margin-bottom: 0px !important;
                padding-bottom: 0px;
            }
            .select-input {
                width: 40px;
            }
            .select-btn {
                width: 30px;
                height: 30px;
                transition: all 0.15s ease;
                &:not([disabled]):hover {
                    background-color: var(--bs-theme-light-2) !important;
                }
            }
        }
        &:not(:first-child):not(:nth-last-child(2)) {
            .underbox {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &:first-child {
            .underbox {
                left: -24px;
            }
        }
        &:nth-last-child(2) {
            .underbox {
                left: unset;
                right: 0;
            }
        }
    }
    .selection {
        .icon-box {
            width: 45px;
            height: 53px;
        }
        .otel-search {
            &::placeholder {
                font-size: 11px;
                color: rgba(var(--bs-theme-secondary-rgb), 0.55) !important;
            }
        }
    }
    .ui-datepicker-inline {
        width: 100%;
    }
}

.note {
    font-size: 13px;
    &.note-warning {
        color: #D98D72;
    }
}

.room {
    .option {
        min-height: 186px;
        &:last-child {
            margin-bottom: 0px !important;
        }
    }
}

.payment-options {
    .po-header {
        background: rgb(243, 78, 78);
        background: linear-gradient(90deg, rgba(243, 78, 78, 1) 0%, rgba(224, 2, 40, 1) 50%);
        color: #ffffff;
    }
}

.accommodation-types {
    #accommodation-tab {
        .nav-link {
            @media only screen and (min-width: 575px) {
                border-left: 0px solid var(--bs-theme-second);
            }
            transition: all 0.10s ease-in-out;
            &.active {
                @media only screen and (min-width: 575px) {
                    border-left-width: 2px;
                    padding-left: 20px !important;
                }
                .title {
                    color: var(--bs-theme-second) !important;
                }
            }
        }
    }
}

.distance-item {
    min-height: 90px;
    &.null {
        background-image: url('../../img/icons/027-null-shape.svg');
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.hotel-properties-section,
.activities-section {
    .properties {
        li {
            flex-shrink: 0;
            width: 20%;
        }
    }
}

.activities-section {
    .nav-link {
        &.active {
            color: var(--bs-dark) !important;
            opacity: 1 !important;
        }
    }
}

// RESPONSIVE
@media only screen and (max-width: 1199px) {
    .search-engine-section {
        position: relative;
        top: unset;
        left: unset;
    }
    .search-engine {
        .dropdown-wrapper {
            margin-bottom: 12px;
            &.gst {
                width: 30%;
            }
            &.dt {
                width: 20%;
            }
            &.show .underbox {
                top: 100%;
            }
            &:first-child .underbox {
                left: 0;
            }
        }
        .hotel-name {
            width: 30%;
        }
        .submit-wrapper {
            flex: 0 0 auto;
            width: 100%;
        }
    }
    .img-box {
        img {
            width: 240px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .view-detail-section .view-gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 157px 157px;
        .area-1 {
            grid-area: 1 / 1 / 3 / 4;
        }
        .area-2 {
            grid-area: 1 / 4 / 2 / 5;
        }
        .area-3 {
            grid-area: 2 / 4 / 3 / 4;
        }
    }
    .search-engine {
        .dropdown-wrapper {
            margin-bottom: 4px;
            &.gst {
                width: 100%;
            }
            &.dt {
                width: 50%;
            }
        }
        .hotel-name {
            width: 100%;
        }
    }
    .hotel-properties-section,
    .activities-section {
        .properties {
            li {
                flex-shrink: 0;
                width: 25%;
            }
        }
    }
    .distance-item {
        min-height: 70px;
    }
    .room {
        .img-box img {
            width: 281px;
        }
        .info {
            width: auto !important;
        }
        .room-options {
            overflow-x: auto;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            .option {
                scroll-snap-align: center;
                min-width: 340px;
                min-height: unset;
                margin-right: 8px;
                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .hotel-properties-section,
    .activities-section {
        .properties {
            li {
                flex-shrink: 0;
                width: 33.33%;
            }
        }
    }
    .room {
        .img-box img {
            width: 231px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .view-detail-section {
        .view-gallery {
            grid-template-rows: 180px 70px;
        }
        .action-btn {
            font-size: 13px !important;
            .icon-box {
                width: 31px;
                height: 31px;
                svg,
                i {
                    width: 13px;
                    height: 13px;
                }
            }
        }
    }
    .search-engine {
        .dropdown-wrapper {
            .selection {
                .icon-box {
                    width: 40px;
                    height: 48px;
                    svg,
                    img {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
            &.otel-search {
                height: 56px;
                .selection {
                    transition: all 0.35s ease;
                    border-radius: 8px;
                    background-color: #ffffff;
                }
                &.show .selection {
                    position: fixed;
                    transform: translateY(-120px);
                    left: 12px;
                    right: 12px;
                    padding: 8px 16px 8px 8px !important;
                    z-index: 10;
                }
            }
            .underbox-wrapper {
                position: fixed;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 9;
                display: flex;
                align-items: end;
                transition: all 0.30s ease;
                padding-top: 50px;
                .underbox-shadow {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.38);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.15s ease, visibility 0.15s ease;
                }
                .underbox {
                    position: relative !important;
                    top: unset !important;
                    left: unset !important;
                    right: unset !important;
                    transform: none !important;
                    border-radius: 16px 16px 0px 0px;
                    max-height: 100%;
                    display: flex;
                    flex-flow: column nowrap;
                    &>* {
                        padding-left: 24px !important;
                        padding-right: 24px !important;
                    }
                    .underbox-content {
                        flex: 1 1 auto;
                        overflow: auto;
                        padding-top: 24px;
                        padding-bottom: 24px;
                    }
                }
            }
            &.show {
                .underbox-wrapper{
                    top: 0;
                    .underbox-shadow {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &.otel-search {
                .underbox-wrapper {
                    padding-top: 130px;
                }
            }
        }
    }
    .hotel-properties-section,
    .activities-section {
        .properties {
            li {
                flex-shrink: 0;
                width: 50%;
            }
        }
    }
    .room {
        .info {
            width: 100% !important;
        }
        .room-highlights {
            .hl-item {
                width: 50%;
            }
        }
        .img-box img {
            width: 100%;
            height: 230px;
        }
        .room-options .option {
            min-width: 278px;
        }
    }
    #activities-tab {
        font-size: 16px !important;
    }
    .accommodation-types {
        .acm-content-open {
            .icon {
                transition: all 0.15s ease-in-out;
            }
            &.opened {
                .icon {
                    transform: rotate(180deg);
                }
            }
        }
        .acm-mobile-content {
            position: relative;
            font-size: 13px;
            transition: all 0.20s ease;
            &:not(.show) {
                max-height: 0px;
                overflow: hidden;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                margin-top: 0px !important;
            }
            &::before {
                content: '';
                display: block;
                border-bottom: 7px solid var(--bs-theme-light);
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: absolute;
                bottom: 100%;
                left: 16px;
            }
        }
    }
}