:root {
  --bs-theme-first: #102754;
  --bs-theme-first-dark: #193367;
  --bs-theme-first-light: #3f63c6;
  --bs-theme-second: #f5841f;
  --bs-theme-second-dark: #51b3a4;
  --bs-theme-second-light: #dcf2ef;
  --bs-theme-third: #183266;
  --bs-theme-grey: #f2f5fb;
  --bs-theme-grey2: #cad4dd;
  --bs-theme-grey3: #eff1f5;

  --bs-theme-dark-blue:#1f355f;

  //HEADER
  --bs-theme-menu-bg: #102754;
  --bs-search-button:#102754;
  --bs-search-button-text:#8194b6;
  --bs-search-button-text-active:#102754;
  --bs-search-icon:#102754;
  --bs-search-icon-dark:#102754;
  --bs-search-otel:#ffba52;
  --bs-search-text-light:#899abd;
  --bs-header-button-dark:#193367;
  --bs-header-button-dark-hover:#fff;
  --bs-menu-toggle-color:#fff;

  --bs-card-info-text:#193367;
  --bs-card-link-color:#fff;
  --bs-fvilla-info-text:#193367;
  --bs-fvilla-text:#193367;

  --bs-detail-text:#193367;

  --bs-theme-first-hover: #1a3363;
  --bs-theme-first-dark-hover: #152b58;
  --bs-theme-second-hover: #f79641;
  --bs-theme-white:#fff;
  --bs-detail-menu-text:#f2f5fb;

  --bs-popular-dark-bg:#102754;
  
  --bs-theme-first-rgb: 16, 39, 84;
  --bs-theme-first-dark-rgb: 25, 51, 103;
  --bs-theme-first-light-rgb: 63, 99, 198;
  --bs-theme-second-rgb: 245, 132, 31;
  --bs-theme-second-dark-rgb: 81, 179, 164;
  --bs-theme-second-light-rgb: 220, 242, 239;
  --bs-theme-third-rgb: 24, 50, 102;
  
}

.header-logo {
  background-image: url(../../img/villa-kalkan-logo.svg);
  width: 178px;
  height: 61px;
  background-size: 100% 100%;
}
.info-logo {
  background-image: url(../../img/villa-kalkan-logo-black.svg);
  width: 178px;
  height: 61px;
  background-size: 100% 100%;
}
.footer-logo {
  background-image: url(../../img/villa-kalkan-logo.svg);
  width: 178px;
  height: 61px;
  background-size: 100% 100%;
}
.footer-banner-logo {
  background-image: url(../../img/villa-kalkan-logo.svg);
  width: 128px;
  height: 43px;
  background-size: 100% 100%;
  margin-bottom: 20px;
  transform: translateX(-10px);
}

#search-tab .nav-link-otel{
  background-image: linear-gradient(32deg, #081a3d 6%, #112855 75%);
}

.datepicker__input:before{
  background-image: url(../img/site2/date-new.svg)!important;
}

.datepicker__input--first:after {
  background-image: url(../img/site2/date-right.svg);
}

.Header-inner{
  background-color: var(--bs-theme-menu-bg);
}

.Header-menu-item-link{
  color: #fff;
}
.Header-call p{
  color: #fff;
}

i.icon-flame {
  background-image: url(../img/site2/icon-flame.svg);
}
i.icon-popular-calendar {
  background-image: url(../img/site2/popular-calendar.svg);
}
i.icon-categories {
  background-image: url(../img/site2/icon-categories.svg);
}
i.icon-otel-discover {
  background-image: url(../img/site2/otel-discover.svg);
}
i.icon-abroad-villa {
  background-image: url(../img/site2/icon-world-map.svg);
}

.highlight-section-desc-more-button .readmore{
  background-image: url(../img/site2/icon-readmore.svg); 
}


.H_info-item-icon i.icon-secure-payment{
  background-image: url(../img/site2/secure-payment.svg);
}
.H_info-item-icon i.icon-vkv{
  background-image: url(../img/site2/vkvlogo.svg);
}

.Opportunity-slider .section-caption .icon-opportunity-calendar{
  background-image: url(../img/site2/opportunity-calendar.svg);
}
.Reservation-form-top .tarihsec{
  background-image: url(../img/site2/tarih-sec.svg);
}
.Opportunity-slider{
  background-color: var(--bs-theme-first);
}
.popular-dark{
  background-image: url(../img/popular-dark-back.svg);
}

.Search-mobile-bottom button{
  background-image: linear-gradient(236deg, #f5841f 100%, #f59f1f 0%);
}
.Filters-in-m-button{
  background-image: linear-gradient(236deg, #f5841f 100%, #f59f1f 0%);
}

.Footer-call .Contact-support a:before{
  background-image: url(../img/site2/footer-call.svg);
}

.View-menu{
  background-color: #f2f5fb;
}
.view-detail-section:before{
  background-color: #f2f5fb;
}