:root {
    --bs-theme-first: #221A52;
    --bs-theme-first-dark: #FDF1F2;
    --bs-theme-first-light: #3f63c6;
    --bs-theme-second: #D84D64;
    --bs-theme-third: #183266;
  
    //HEADER
    --bs-theme-menu-bg: #F9E2E6;
    --bs-search-button:#d84d64;
    --bs-search-button-text:#fff;
    --bs-search-button-text-active:#102754;
    --bs-search-icon:#d84d64;
    --bs-search-icon-dark:#221A52;
    --bs-search-otel:#ffba52;
    --bs-search-text-light:#bdadaf;
    --bs-header-button-dark:#221a52;
    --bs-header-button-dark-hover:#221a5280;
    --bs-menu-toggle-color:#d84d64;
  
    --bs-card-info-text:#221A52;
    --bs-fvilla-info-text:#221A52;
    --bs-fvilla-text:#d84d64;
  
    --bs-detail-text:#221A52;
  
    --bs-theme-first-hover: #1a3363;
    --bs-theme-first-dark-hover: #152b58;
    --bs-theme-second-hover: #f79641;
    --bs-theme-white:#fff;
    --bs-detail-menu-text:#221A52;
    
    --bs-theme-first-rgb: 16, 39, 84;
    --bs-theme-first-dark-rgb: 25, 51, 103;
    --bs-theme-first-light-rgb: 63, 99, 198;
    --bs-theme-second-rgb: 245, 132, 31;
    --bs-theme-second-dark-rgb: 81, 179, 164;
    --bs-theme-second-light-rgb: 220, 242, 239;
    --bs-theme-third-rgb: 24, 50, 102;
    
  }
  
  .header-logo {
    background-image: url(../../img/villa-kalkan-logo.svg);
    width: 178px;
    height: 61px;
    background-size: 100% 100%;
  }
  .info-logo {
    background-image: url(../../img/villa-kalkan-logo-black.svg);
    width: 178px;
    height: 61px;
    background-size: 100% 100%;
  }
  .footer-logo {
    background-image: url(../../img/villa-kalkan-logo.svg);
    width: 178px;
    height: 61px;
    background-size: 100% 100%;
  }
  .footer-banner-logo {
    background-image: url(../../img/villa-kalkan-logo.svg);
    width: 128px;
    height: 43px;
    background-size: 100% 100%;
    margin-bottom: 20px;
    transform: translateX(-10px);
  }
  
  #search-tab .nav-link-otel{
    background-image: linear-gradient(30deg, #ab3549 6%, #d84d64 76%);
  }
  
  .datepicker__input:before{
    background-image: url(../img/site4/date-new.svg)!important;
  }
  
  .datepicker__input--first:after {
    background-image: url(../img/site4/date-right.svg);
  }
  
  .Header-inner{
    background-color: var(--bs-theme-menu-bg);
  }
  
  .Header-menu-item-link{
    color: #211a4f;
  }
  .Header-call p{
    color: var(--bs-theme-first);
  }
  
  i.icon-flame {
    background-image: url(../img/site4/icon-flame.svg);
  }
  i.icon-popular-calendar {
    background-image: url(../img/site4/popular-calendar.svg);
  }
  i.icon-categories {
    background-image: url(../img/site4/icon-categories.svg);
  }
  i.icon-otel-discover {
    background-image: url(../img/site4/otel-discover.svg);
  }
  i.icon-abroad-villa {
    background-image: url(../img/site4/icon-world-map.svg);
  }
  
  .highlight-section-desc-more-button .readmore{
    background-image: url(../img/site4/icon-readmore.svg); 
  }

  .H_info-item-icon i.icon-secure-payment{
    background-image: url(../img/site4/secure-payment.svg);
  }
  
  .H_info-item-icon i.icon-vkv{
    background-image: url(../img/site4/vkvlogo.svg);
  }
  .Footer-call .Contact-support a:before{
    background-image: url(../img/site4/footer-call.svg);
  
  }
  
  //Villa Kalkan
  
  // #search-tab .nav-link-otel{
  //   background-image: linear-gradient(32deg, #081a3d 6%, #112855 75%);
  // }
  // .Header-inner{
  //   background-color: var(--bs-theme-menu);
  // }
  // --bs-theme-menu: #183266;
  
  //LYCIAN
  
  // :root {
  //   --bs-theme-first: #5e728d;
  //   --bs-theme-first-dark: #51637c;
  //   --bs-theme-first-light: #3f63c6;
  //   --bs-theme-second: #89d9cf;
  //   --bs-theme-second-dark: #51b3a4;
  //   --bs-theme-second-light: #dcf2ef;
  //   --bs-theme-third: #183266;
  
    
  //   --bs-theme-first-hover: #1a3363;
  //   --bs-theme-first-dark-hover: #152b58;
  //   --bs-theme-second-hover: #f79641;
    
  //   --bs-theme-first-rgb: 94, 114, 141;
  //   --bs-theme-first-dark-rgb: 81, 99, 124;
  //   --bs-theme-first-light-rgb: 63, 99, 198;
  //   --bs-theme-second-rgb: 137, 217, 207;
  //   --bs-theme-second-dark-rgb: 81, 179, 164;
  //   --bs-theme-second-light-rgb: 220, 242, 239;
  //   --bs-theme-third-rgb: 24, 50, 102;
  // }
  
  // .header-logo {
  //   background-image: url(../../img/villa-kalkan-logo.svg);
  //   width: 178px;
  //   height: 61px;
  //   background-size: 100% 100%;
  // }
  // .info-logo {
  //   background-image: url(../../img/villa-kalkan-logo-black.svg);
  //   width: 178px;
  //   height: 61px;
  //   background-size: 100% 100%;
  // }
  // .footer-logo {
  //   background-image: url(../../img/villa-kalkan-logo.svg);
  //   width: 178px;
  //   height: 61px;
  //   background-size: 100% 100%;
  // }
  // .footer-banner-logo {
  //   background-image: url(../../img/villa-kalkan-logo.svg);
  //   width: 128px;
  //   height: 43px;
  //   background-size: 100% 100%;
  //   margin-bottom: 20px;
  //   transform: translateX(-10px);
  // }