html {
  scroll-behavior: smooth;
}
body {
  --page-light: #f0f5f6;
}

.bg-page-light {
  background-color: var(--page-light) !important;
}

.main {
  padding-bottom: 50px;
}

.view {
  &-top {
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    &-title {
      span {
        font-size: 11.1px;
        font-weight: 500;
        display: block;
      }
      h1 {
        font-size: 29.2px;
        font-weight: bold;
        color: #f2f5fb;
        margin-bottom: 0;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      .icon-pin {
        color: var(--bs-theme-second);
        font-size: 27px;
      }
      &-location {
        display: flex;
        flex-direction: column;
        font-size: 18.2px;
        font-weight: bold;
        color: #f2f5fb;
        margin-bottom: 0;
        span {
          font-size: 11px;
          font-weight: 500;
          color: #8a92a8;
        }
      }
      &-price {
        display: flex;
        flex-direction: column;
        margin-left: clamp(30px, 5.2vw, 100px);
        p {
          text-align: left;
          line-height: 1;
          font-size: 29.7px;
          font-weight: bold;
          color: #fff;
          margin-bottom: 0;
          span {
            font-size: 17.1px;
            font-weight: 600;
          }
        }
        span {
          font-size: 7.8px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 6.06px;
          color: #f2f5fb;
        }
        small {
          font-size: 6.7px;
          font-weight: 500;
          letter-spacing: 0.84px;
          color: #fff;
        }
      }
    }
    .item-infos {
      .info {
        margin-right: 32px;
        i {
          font-size: 22px;
          margin-right: 15px;
          color: #f2f5fb;
        }
        span {
          font-size: 14.2px;
          font-weight: 600;
          letter-spacing: -0.57px;
          color: #f2f5fb;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.view-detail-section {
  .action-btn {
    &-icon {
      width: 34px;
      height: 34px;
      border: solid 1px #183266;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 400ms;
      i {
        font-size: 13px;
        color: #183266;
      }
    }
    &-text {
      font-size: 11px;
      font-weight: 500;
      color: #183266;
      margin-left: 10px;
    }
    &:hover {
      .action-btn-icon {
        background-color: #183266;
        i {
          color: #fff;
        }
      }
    }
  }
  .view-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 187px 187px;
    grid-gap: 13px;
    .area-1 {
      grid-area: 1 / 1 / 3 / 3;
    }
    .area-2 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .area-3 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .area-4 {
      grid-area: 2 / 3 / 3 / 4;
    }
    .area-5 {
      grid-area: 2 / 4 / 3 / 5;
    }
    .view-item {
      .hover-box {
        opacity: 0;
        visibility: visible;
        transition: all 0.25s ease;
      }
      @media only screen and (min-width: 992px) {
        &:hover {
          .hover-box {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  position: relative;
  z-index: 1;
  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 200px;
    background-color: #f2f5fb;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.View {
  &-in {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
  }
  &-menu {
    background-color: #f2f5fb;
    padding: 16px 0;
    &-in {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-left {
      display: flex;
      align-items: center;
    }
    &-right {
      display: flex;
      align-items: center;
    }
    &-item {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #102754;
      padding: 7px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px transparent;
      border-radius: 4px;
      transition: all 400ms;
      &.active {
        border-color: #183266;
      }
    }
  }
  &-left {
    width: calc((100% - 330px) - clamp(30px, 2.6vw, 50px));
  }
  &-right {
    width: 330px;

    &-opportunity {
      padding: 21px 28px;
      padding-bottom: 34px;
      border-radius: 19px;
      backdrop-filter: blur(54.4px);
      box-shadow: 0 22px 114px 0 rgba(135, 131, 153, 0.06);
      background-color: #f2f5fb;
      position: relative;
      h4 {
        font-size: 20px;
        font-weight: bold;
        color: #122955;
        margin-bottom: 10px;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 13px;
        border-radius: 5px;
        border: solid 2px #112855;
        margin-bottom: 6px;
        &-night {
          display: flex;
          flex-direction: column;
          span {
            border-radius: 4.5px;
            background-color: #122955;
            font-size: 13.4px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            transition: all 300ms;
          }
          p {
            font-size: 9.2px;
            font-weight: 600;
            color: #122955;
            margin-bottom: 0;
            transition: all 300ms;
          }
        }
        &-date {
          font-size: 12px;
          font-weight: 500;
          color: #122955;
          margin-bottom: 0;
          transition: all 300ms;
        }
        &-price {
          display: flex;
          flex-direction: column;
          text-align: right;
          b {
            font-size: 23px;
            font-weight: 600;
            line-height: 1;
            color: #112855;
            transition: all 300ms;
          }
          small {
            font-size: 7px;
            font-weight: 500;
            text-align: right;
            color: #112855;
            transition: all 300ms;
          }
        }
        &:hover {
          background-color: #112855;
          .View-right-opportunity-item-night {
            span {
              background-color: #fff;
              color: #122955;
            }
            p {
              color: #fff;
            }
          }
          .View-right-opportunity-item-date {
            color: #fff;
          }
          .View-right-opportunity-item-price {
            b {
              color: var(--bs-theme-second);
            }
            small {
              color: #fff;
            }
          }
        }
      }
      .swiper-pagination {
        width: 100%;
        left: 0;
      }
      .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        background-color: #112855;
        opacity: 1;
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
        &-active {
          background-color: #fff;
          border: 3px solid #112855;
        }
      }
    }
  }

  &-title {
    font-size: 27px;
    font-weight: bold;
    line-height: 0.96;
    color: #102754;
  }
  &-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.44;
    color: #0f2052;
  }

  &-desc {
    margin-bottom: 40px;
    .View-title {
      margin-bottom: 16px;
    }
    p {
      font-size: 12px;
      font-weight: normal;
      color: #0f2052;
      margin-bottom: 10px;
    }

    &-category {
      margin-bottom: 12px;
      h6 {
        font-size: 12px;
        font-weight: bold;
        color: #112855;
        margin-bottom: 10px;
      }
      &-in {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        span {
          font-size: 12px;
          font-weight: 500;
          color: #112855;
          padding: 3px 7px;
          border: solid 1px #112855;
          margin-right: 11px;
          margin-bottom: 11px;
        }
      }
    }
    &-amenites {
      h4 {
        font-size: 22px;
        font-weight: normal;
        line-height: 0.96;
        color: #102754;
        margin-bottom: 16px;
      }
      &-in {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        p {
          width: 25%;
          font-size: 12px;
          font-weight: 500;
          color: #102754;
          list-style: inside;
          display: list-item;
          margin-bottom: 16px;
          padding-right: 16px;
        }
      }
      &-more {
        padding: 8px 18px;
        font-size: 12px;
        font-weight: 500;
        color: var(--bs-theme-second);
        border: solid 1px var(--bs-theme-second);
        background-color: transparent;
        transition: all 400ms;
        &:hover {
          background-color: var(--bs-theme-second);
          color: #fff;
        }
      }
    }
  }
  &-months {
    margin-bottom: 60px;
    .View-title {
      margin-bottom: 6px;
    }
    &-item {
      border: solid 1.2px #102754;
      &-in {
        padding: 10px;
        transition: all 400ms;
      }
      &-title {
        background-color: #102754;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 8px;
        h5 {
          font-size: 19.8px;
          font-weight: bold;
          line-height: 0.96;
          color: #fff;
          margin-bottom: 0;
        }
      }
      &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
        b {
          font-size: 26.8px;
          font-weight: 900;
          line-height: 1.08;
          color: #102754;
          transition: all 400ms;
        }
        small {
          font-size: 7.7px;
          font-weight: 500;
          line-height: 0.96;
          color: #102754;
          transition: all 400ms;
        }
      }
      &-days {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        p {
          font-size: 10px;
          font-weight: normal;
          line-height: 1.24;
          color: #102754;
          margin-bottom: 0;
          transition: all 400ms;
        }
        b {
          font-size: 16.5px;
          font-weight: bold;
          line-height: 0.96;
          color: #102754;
          display: flex;
          align-items: center;
          transition: all 400ms;
        }
      }
      &.disabled {
        opacity: 0.2;
        pointer-events: none;
      }
      &:hover {
        .View-months-item {
          &-in {
            background-color: #183266;
          }
          &-price {
            b,
            small {
              color: #fff;
            }
          }
          &-days {
            p,
            b {
              color: #fff;
            }
          }
        }
      }
    }
  }
  &-availibility {
    margin-bottom: 60px;
  }
  &-beds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
    &-in {
      width: 100%;
      overflow-x: scroll;
      display: flex;
      justify-content: space-between;
    }
    .View-title {
      margin-bottom: 20px;
      width: 100%;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px;
      border-radius: 6.6px;
      background-color: #f2f5fb;
      min-width: 250px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      i {
        font-size: clamp(28px, 1.9vw, 36px);
        color: var(--bs-theme-second);
      }
      &-name {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.09;
        color: #102754;
        margin-bottom: 0;
      }
      &-total {
        border-radius: 6.6px;
        background-color: #1f355f;
        padding: 15px 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          font-size: 24px;
          font-weight: 500;
          line-height: 0.96;
          color: #fff;
          margin-bottom: 0;
        }
        span {
          font-size: 16.3px;
          font-weight: 300;
          line-height: 0.96;
          color: #fff;
        }
      }

      &.double {
        width: 35%;
      }
      &.single {
        width: 35%;
      }
      &.capacity {
        width: 27%;
        min-width: 220px;
        margin-right: 0;
      }
    }
  }
  &-rooms {
    .View-title {
      margin-bottom: 0;
    }
  }
  &-pools {
    margin-bottom: 34px;
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .View-title {
        width: 50%;
        margin-bottom: 0;
      }
      &-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 40px;
        span {
          width: 33%;
          font-size: 14px;
          font-weight: bold;
          color: #102754;
        }
      }
    }
    .pool-item {
      border-radius: 7px;
      border: solid 1px #d4dded;
      display: flex;
      align-items: center;
      padding: 11px 0;
      &-left {
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 40px;
        img {
          margin-right: 40px;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: #102754;
        }
      }
      &-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 40px;
        span {
          width: 33%;
          font-size: 14px;
          font-weight: 500;
          color: #102754;
        }
      }
    }
  }
  &-location {
    margin-bottom: 34px;
    &-in {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-left {
      width: calc(60% - 18px);
    }
    &-right {
      width: 40%;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 7px;
      border: solid 1px #d4dded;
      padding: 10px;
      padding-right: 24px;
      transition: all 400ms;
      margin-bottom: 12px;
      p,
      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.64;
        color: #102754;
        margin-bottom: 0;
      }
      &:hover {
        background-color: var(--bs-theme-second);
        border-color: var(--bs-theme-second);
        p,
        span {
          color: #fff;
        }
      }
    }
  }
  &-info {
    border-radius: 9px;
    background-color: #f2f5fb;
    padding: 28px 20px;
    margin-bottom: 33px;
    &-in {
      padding-left: 20px;
    }
    .View-title {
      margin-bottom: 25px;
    }
    &-hours {
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
          border-bottom: 1px solid #d9e2e3;
          padding-bottom: 16px;
          margin-bottom: 43px;
        }
        &-left {
          width: 30%;
          display: flex;
        }
        &-right {
          width: 70%;
          padding-left: 50px;
        }
      }
      &-check {
        display: flex;
        i {
          font-size: 20px;
          margin-right: 20px;
          color: var(--bs-theme-first-dark);
        }
        &-text {
          h6 {
            font-size: 16.6px;
            font-weight: 500;
            line-height: 0.96;
            color: var(--bs-theme-first-dark);
          }
          p {
            font-size: 9.3px;
            font-weight: 500;
            line-height: 0.96;
            color: #647591;
          }
        }
      }
      &-status {
        width: 100%;
        height: 15px;
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        border-radius: 12px;
        background-color: #c6e1f2;
        &-in {
          background-color: #a1c4db;
          display: flex;
          position: relative;
        }
        &-lefthours {
          position: absolute;
          left: -15px;
          bottom: -20px;
          span {
            font-size: 8.3px;
            font-weight: 500;
            line-height: 0.96;
            color: #1f355f;
          }
        }
        &-righthours {
          position: absolute;
          right: -15px;
          bottom: -20px;
          span {
            font-size: 8.3px;
            font-weight: 500;
            line-height: 0.96;
            color: #1f355f;
          }
        }
        &-tophours {
          position: absolute;
          top: -45px;
          padding: 8px 16px;
          padding-top: 3px;
          background-color: #1f355f;
          border-radius: 12px;
          left: 50%;
          transform: translate(-50%);
          &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-top-color: #1f355f;
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
          }
          span {
            color: #fff;
            font-size: 8.3px;
            font-weight: 500;
            line-height: 0.96;
            white-space: nowrap;
          }
        }
      }
    }
    &-rules {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 40px;
      h5 {
        width: 100%;
        font-size: 16.6px;
        font-weight: 500;
        line-height: 0.96;
        color: #102754;
        margin-bottom: 16px;
      }
      &-item {
        width: 30%;
        display: flex;
        align-items: center;
        img {
          width: 44px;
          height: 44px;
          margin-right: 16px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 0.96;
          color: #102754;
          margin-bottom: 0;
        }
      }
    }
    &-policy {
      margin-bottom: 24px;
      h5 {
        width: 100%;
        font-size: 16.6px;
        font-weight: 500;
        line-height: 0.96;
        color: #102754;
        margin-bottom: 16px;
      }
      p {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.82;
        color: #102754;
      }
    }
    &-fee {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      &-left {
        width: 50%;
        padding-right: 30px;
      }
      &-right {
        width: 50%;
        p {
          font-size: 13px;
          font-weight: 300;
          line-height: 1.14;
          color: #1f355f;
          margin-bottom: 0;
          max-width: 300px;
        }
      }
      h5 {
        width: 100%;
        font-size: 16.6px;
        font-weight: 500;
        line-height: 0.96;
        color: #102754;
        margin-bottom: 16px;
      }
      &-item {
        width: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;

        p {
          font-size: 13px;
          font-weight: normal;
          line-height: 0.96;
          color: #1f355f;
          list-style: inside;
          display: list-item;
        }
      }
    }
    &-warning {
      display: flex;
      padding-right: 10%;

      .icon-warning {
        font-size: 32px;
        margin-right: 12px;
        color: #f00;
      }
      h6 {
        font-size: 16.6px;
        font-weight: 500;
        line-height: 0.96;
        color: #f00;
        padding-top: 10px;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.82;
        color: #102754;
      }
    }
  }
  &-faq {
    margin-bottom: 30px;
    .View-title {
      margin-bottom: 20px;
    }

    .accordion {
      &-item {
        margin-bottom: 8px;
        border-radius: 5px;
        border: solid 2px #f2f5fb;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          .accordion-button {
            border-radius: 0;
          }
        }
      }
      &-button {
        background-color: #f2f5fb;
        font-size: 14px;
        font-weight: 500;
        color: #1a1d59;
        &:focus {
          box-shadow: none;
        }
        &:after {
          width: 1rem;
          height: 1rem;
          background-size: 1rem;
        }
      }

      .accordion-button:not(.collapsed) {
        box-shadow: none;
        background-color: #fff;
        color: #1a1d59;
        &:after {
          filter: brightness(0);
        }
      }
      &-body {
        padding-top: 0;
        p {
          font-size: 13px;
          font-weight: 500;
          line-height: 1.54;
          color: #7f8090;
          margin-bottom: 0;
        }
      }
    }
  }
  &-reviews {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 22px;
      &-stars {
        display: flex;
        align-items: center;
        span {
          font-size: 19.2px;
          font-weight: 500;
          color: #1f355f;
          margin-right: 6px;
        }
        i {
          font-size: 17px;
          color: #d9dce3;
          &.active {
            color: var(--bs-theme-second);
          }
        }
      }
    }
    &-item {
      border-radius: 10.1px;
      border: solid 3px #f2f5fb;
      padding: 20px 30px;
      margin-bottom: 18px;
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 2px solid #f0f5f6;
        margin-bottom: 22px;
        h6 {
          font-size: 26.9px;
          font-weight: 500;
          color: #1a1d59;
          margin-bottom: 0;
        }
        &-stars {
          display: flex;
          align-items: center;
          span {
            font-size: 13px;
            font-weight: 500;
            color: #7f8090;
            margin-left: 6px;
          }
          i {
            font-size: 12px;
            color: #d9dce3;
            &.active {
              color: var(--bs-theme-second);
            }
          }
        }
        &-right {
          p {
            display: flex;
            align-items: center;
            font-size: 10.3px;
            font-weight: 500;
            line-height: 2.1;
            color: #1f355f;
            margin-bottom: 4px;
            span {
              width: 120px;
              font-weight: 600;
            }
          }
        }
      }
      &-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-left {
          width: calc(100% - 165px);
          p {
            font-size: 12px;
            font-weight: 500;
            line-height: 1.75;
            color: #1a1d59;
          }
        }

        &-right {
          width: 135px;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;

          &-item {
            width: 60px;
            height: 60px;
            margin-bottom: 7px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            &.more {
              width: 100%;
              height: auto;
              font-size: 8.8px;
              font-weight: 500;
              color: #000;
            }
          }
        }
      }
      &-villa {
        width: 100%;
        max-width: 565px;
        border-radius: 5px;
        background-color: #f2f5fb;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        i {
          color: #1a1d59;
          font-size: 14px;
          flex-shrink: 0;
          margin-right: 12px;
        }
        span {
          font-size: 9px;
          font-weight: bold;
          line-height: 2.1;
          color: #1a1d59;
          display: block;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.75;
          color: #1a1d59;
          margin-bottom: 0;
        }
      }
      &.no-img {
        .View-reviews-item-bottom-left {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .view-top {
    flex-wrap: wrap;
    justify-content: space-between;
    &-right {
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;
    }
  }
  .View {
    &-in {
      flex-direction: column-reverse;
    }
    &-left {
      width: 100%;
    }
    &-right {
      width: 100%;
      margin-bottom: 40px;
    }
    &-menu {
      &-in {
        flex-direction: column;
      }
      &-left {
        flex-wrap: wrap;
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .view-top {
    .view-top-title {
      h1 {
        font-size: 22px;
      }
    }
    .item-infos {
      .info {
        margin-right: 5px;
        i {
          font-size: 14px;
          margin-right: 5px;
        }
        span {
          font-size: 12.2px;
        }
      }
    }
  }
  .View-title {
    font-size: 22px;
  }
  .View {
    &-rooms {
      .View-title {
        margin-bottom: 16px;
      }
    }
    &-pools {
      &-head {
        &-right {
          padding-right: 20px;
        }
      }
      .pool-item {
        &-left {
          padding-left: 20px;
          img {
            margin-right: 20px;
          }
        }
        &-right {
          padding-right: 20px;
        }
      }
    }
    &-location {
      &-in {
        flex-direction: column;
      }
      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
      }
    }
    &-months {
      margin-bottom: 30px;
    }
    &-info {
      padding: 28px 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &-in {
        padding: 10px;
      }
      &-hours {
        &-check {
          width: 100%;
        }
        &-item {
          flex-direction: column;
          margin-bottom: 30px;
          &-left {
            width: 100%;
          }
          &-right {
            width: 100%;
            padding-left: 0;
            margin-top: 50px;
          }
          &:last-child {
            padding-bottom: 36px;
            margin-bottom: 23px;
          }
        }
      }
      &-rules {
        margin-bottom: 30px;
        h5 {
          text-align: center;
        }
        &-item {
          flex-direction: column;

          align-items: center;
          img {
            width: 44px;
            height: 44px;
            margin-right: 0;
          }
          p {
            text-align: center;
            margin-top: 14px;
            font-size: 14px;
          }
        }
      }
      &-policy {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      &-fee {
        width: 100%;
        &-left {
          width: 100%;
        }
        &-right {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;margin-bottom: 20px;
          p {
            text-align: center;
            width: 100%;
          }
        }
        margin-bottom: 5px;
        h5 {
          text-align: center;
        }
        &-item {
          width: 100%;
          justify-content: center;
        }
      }
      &-warning {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        i {
          margin-right: 0;
        }
        &-text {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 499px) {
  .View {
    &-reviews {
      &-head {
        flex-direction: column;
      }
      &-item {
        padding: 20px;
        &-top {
          flex-direction: column;
          align-items: flex-start;
          h6 {
            font-size: 21px;
          }
          &-left {
            margin-bottom: 10px;
          }
        }
        &-bottom {
          flex-direction: column;
          &-left {
            width: 100%;
          }
        }
      }
    }
  }
}

.Reservation {
  &-form {
    margin-bottom: 12px;

    &-top {
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      backdrop-filter: blur(54.4px);
      box-shadow: 0 22px 114px 0 rgba(135, 131, 153, 0.06);
      background-color: #f2f5fb;
      padding: 23px 14px;
      position: relative;
      z-index: 2;
    }

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: #1a1d59;
      margin-bottom: 16px;
    }

    &-in {
      padding: 12px;
      border-radius: 19px;
      box-shadow: 0 22px 114px 0 rgba(135, 131, 153, 0.06);
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      margin-bottom: 12px;
      label {
        display: flex;
      }

      &-icon {
        border-radius: 8px;
        background-color: #eff2f8;
        padding: 16px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 18px;
        i {
          font-size: 18px;
          color: #102754;
        }
      }

      &-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span {
          font-size: 12px;
          font-weight: 500;
          color: #102754;
          // margin-bottom: 6px;
        }
        input {
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          color: #24252e;
          background-color: transparent;
          border: none;
          padding-right: 10px;
        }
      }

      &-person {
        width: 100%;
        margin-bottom: 0;
        .dropdown-toggle {
          width: 100%;
          background-color: transparent;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 500;
            color: #24252e;
            span {
              font-size: 14px;
              color: #24252e;
            }
          }
          &:after {
            content: "";
            border: none;
            font-family: "icon";
            font-style: normal;
            font-weight: normal;
            speak: never;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: 0.2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: 0.2em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
        .dropdown-menu {
          width: calc(100% - 28px);
          padding: 27px 24px;
          border-radius: 19px;
          background-color: #fff;
          border: none;
          min-width: auto;
          transform: translate3d(14px, 225px, 0px) !important;
          box-shadow: 0px 22px 114px 0px rgb(135 131 153 / 30%);
        }
        .select-input {
          width: 40px;
        }
      }
    }

    &-info {
      border-radius: 19px;
      box-shadow: 0 22px 114px 0 rgba(135, 131, 153, 0.06);
      background-color: #fff;
      padding: 16px 24px;
      margin-top: 12px;
      position: absolute;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 400ms;
      &-item {
        &-in {
          display: flex;
          justify-content: space-between;
        }

        &-left {
          padding-right: 30px;
          h5 {
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.09px;
            color: #1a1d59;
          }
          p {
            font-size: 10px;
            font-weight: normal;
            line-height: 1.35;
            letter-spacing: 0.07px;
            color: #7f8090;
          }
        }
        &-right {
          flex-shrink: 0;
          b {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0.09px;
            color: #1a1d59;
            white-space: nowrap;
            text-align: right;
          }
        }
        &-more {
          .accordion-item {
            border: none;
          }
          .accordion-button {
            padding: 0;
            padding-bottom: 10px;
          }
          .accordion-button:not(.collapsed) {
            box-shadow: none;
            background-color: transparent;
            color: var(--bs-theme-second);
            .icon-down-arrow {
              transform: rotate(-180deg) translateX(-5px);
            }
          }
          .accordion-button:focus {
            border-color: transparent;
            box-shadow: none;
          }
          .accordion-button::after {
            display: none;
          }

          &-button {
            display: flex;
            align-items: center;
            background-color: transparent;
            font-size: 12px;
            font-weight: 500;
            padding-left: 0;
            letter-spacing: 0.06px;
            color: var(--bs-theme-second);
            text-decoration: underline;
            i {
              font-size: 9px;
              margin-left: 9px;
              transition: all 300ms;
            }
          }
          .accordion-collapse {
            padding: 20px 12px;
            border-radius: 13px;
            background-color: #f1f4fa;

            h6 {
              font-size: 13px;
              font-weight: 500;
              letter-spacing: 0.08px;
              color: #1a1d59;
              margin-bottom: 10px;
            }
          }
          .accordion-item:last-of-type .accordion-collapse {
            border-bottom-right-radius: 13px;
            border-bottom-left-radius: 13px;
          }

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-left {
              display: flex;
              align-items: center;
            }
            p {
              opacity: 0.5;
              font-size: 12px;
              font-weight: 500;
              line-height: 1.95;
              letter-spacing: 0.07px;
              text-align: left;
              color: #102754;
              margin-bottom: 0;
              display: flex;
            }
            b {
              font-size: 12px;
              font-weight: 500;
              line-height: 1.95;
              letter-spacing: 0.07px;
              text-align: right;
              color: #102754;
            }
            i {
              font-size: 12px;
              color: var(--bs-theme-first);
              margin-left: 5px;
            }
          }
        }
      }
    }

    &-submit {
      width: 100%;
      border-bottom-left-radius: 19px;
      border-bottom-right-radius: 19px;
      backdrop-filter: blur(54.4px);
      box-shadow: 0 22px 114px 0 rgba(135, 131, 153, 0.06);
      background-color: #112855;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 1;
      transition: all 400ms;
    }

    &.show {
      .Reservation-form-info {
        position: static;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
      .Reservation-form-submit {
        background-color: var(--bs-theme-second);
      }
    }
  }
}
.popover {
  z-index: 9;
  background-color: red;
}

/////
.content-menubar-section {
  position: sticky;
  top: 83px;
  z-index: 3;
  #cm-tab {
    max-width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .nav-link {
    &.active {
      background-color: var(--bs-theme-first) !important;
      color: #ffffff !important;
    }
  }
}

.currency-selection {
  .selection-item {
    &.active {
      background-color: var(--bs-theme-second) !important;
      color: #ffffff !important;
    }
  }
}

.price-table {
  .price-item {
    .date-range {
      transition: padding 0.15s ease-in-out;
    }
    .hover-box {
      transition: all 0.15s ease-in-out;
    }
    &:hover {
      color: var(--bs-theme-second) !important;
      .date-range {
        padding-left: 34px !important;
      }
      .hover-box {
        background-color: var(--bs-theme-second) !important;
        color: #ffffff !important;
      }
    }
  }
}

.short-terms {
  .st-item {
    margin-bottom: 32px;
    .st-start {
      min-width: 203px;
      margin-top: -12px;
      margin-bottom: -12px;
      padding-right: 80px;
      del {
        opacity: 0.34;
      }
    }
    .st-end {
      margin-left: -70px;
      .bottom-row {
        border-top: 1px dashed rgba(255, 255, 255, 0.185);
      }
    }
  }
}

.pricing-included-wrapper {
  border-color: var(--page-light) !important;
}

#includeds-tab {
  border: 0px;
  .nav-link {
    border: 0px;
    &:first-child {
      border-radius: 19px 0px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 19px 0px 0px;
    }
    &.active {
      color: var(--bs-theme-first) !important;
    }
  }
}

.pricing-included-tab {
  padding-top: 37px;
  &::before {
    content: "";
    background-color: var(--page-light);
    height: 100%;
    left: calc(calc(100vw - 1198px) / 2 * -1);
    top: 0;
    width: calc(100vw - 21px);
    position: absolute;
    z-index: -1;
  }
}

.rooms-caption {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    flex-shrink: 0;
    width: 41px;
    height: 41px;
    background-color: var(--bs-theme-light);
    border-radius: 100%;
    margin-top: unset;
    &::after {
      font-size: 11px;
      color: #000000;
    }
    &:hover {
      background-color: var(--bs-theme-first);
      &::after {
        color: #ffffff;
      }
    }
  }
  .swiper-button-prev {
    margin-right: 10px;
  }
}
.room-item {
  &-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #1f355f;
  }
  &-text {
    font-size: 14px;
    font-weight: 500;
    color: #1f355f;
  }
}
.rooms {
  .swiper-button-prev,
  .swiper-button-next {
    top: -100px;
    right: 0px;
    background-color: #f0f3fa;
  }
}

#room-tab {
  .nav-link {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 19px;
    color: var(--bs-theme-first);
    font-size: 14px;
    font-weight: bold;
    padding: 6px 20px;

    &.active {
      border-color: #1f355f;
    }
  }
}

.pool-item,
.distances {
  .icon-box {
    width: 62px;
    height: 62px;
  }
  .infos.disabled {
    background-image: url(../../img/icons/027-null-shape.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.distances-actions {
  .act {
    &:first-child {
      border-radius: 18px 0px 0px 18px;
    }
    &:last-child {
      border-radius: 0px 18px 18px 0px;
    }
  }
}

.comment-list {
  .comment-item {
    .comment-content {
      p {
        margin-bottom: 10px;
      }
    }
  }
}

.activities {
  .ac-item {
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    .img-box {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 42, 0.38);
      }
    }
    .item-caption {
      min-height: 188px;
    }
    @media only screen and (min-width: 992px) {
      &:hover {
        transform: translateY(-15px);
        box-shadow: 0px 6px 25px 10px rgba(0, 0, 0, 0.19);
      }
    }
  }
}

.accordion {
  .ui-icon {
    display: none;
  }
  .ac-header {
    outline: none !important;
    svg * {
      transition: transform 0.15s ease;
    }
    .btn {
      padding: 11px 19px 10px 14px;
    }
    &.ui-state-active {
      border-radius: 16px 16px 0px 0px !important;
      border-bottom: 0px;
      background-color: transparent !important;
      color: var(--bs-theme-first-dark);
      padding-bottom: 10px !important;
      svg {
        transform: rotate(180deg);
      }
      .btn {
        background-color: var(--bs-theme-light);
        color: inherit;
      }
      .text {
        padding-bottom: 0px !important;
      }
    }
  }
  .ui-accordion-content {
    padding: 8px 39px 31px;
  }
}

.booking-box {
  box-shadow: 0px 22px 114px 0px rgba(135, 131, 153, 0.06);
  .cancellation {
    background-color: #efc52b;
  }
  .icon-box {
    width: 45px;
    height: 53px;
  }
  .dropdown-wrapper {
    position: relative;
    flex-shrink: 0;
    &.selected {
      .selection {
        .total {
          color: var(--bs-dark) !important;
        }
      }
      .icon-box svg,
      .icon-box svg * {
        fill: var(--bs-theme-second);
      }
    }
    &.dt.selected {
      .selection {
        .total {
          text-transform: uppercase;
        }
      }
    }
    .underbox {
      position: absolute;
      left: 0;
      background-color: #ffffff;
      border: 1px solid var(--bs-theme-light-2);
      border-radius: 20px;
      z-index: 3;
      width: 100%;
      min-width: 288px;
      top: 50%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease;
      .underbox-content {
        padding: 27px 24px;
      }
    }
    &.show {
      .underbox {
        top: calc(100% + 20px);
        opacity: 1;
        visibility: visible;
      }
    }
    &.dt,
    &.gst {
      .underbox {
        min-width: 310px;
      }
    }
    &.dt .underbox .underbox-content {
      padding: 16px 24px;
    }
    .select-item {
      &:last-child {
        margin-bottom: 0px !important;
        padding-bottom: 0px;
      }
      .select-input {
        width: 40px;
      }
      .select-btn {
        width: 30px;
        height: 30px;
        transition: all 0.15s ease;
        &:not([disabled]):hover {
          background-color: var(--bs-theme-light-2) !important;
        }
      }
    }
    &:first-child,
    &:nth-child(2) {
      .underbox {
        left: unset;
        right: 0;
      }
    }
  }
  .ui-datepicker-inline {
    width: 100%;
  }
}

.list-slide {
  overflow: unset;
  .swiper-slide {
    transition: opacity 0.15s ease-in-out;
  }
  .swiper-slide {
    opacity: 0.3;
  }
  .swiper-slide-visible {
    opacity: 1;
  }
  .list-navigation-next,
  .list-navigation-prev {
    background-color: #ffffff;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    --swiper-navigation-size: 11px;
    color: #000;
    top: 25%;
  }
  .list-navigation-next {
    right: unset;
    left: calc(100% + 17px);
  }
  .list-navigation-prev {
    left: unset;
    right: calc(100% + 17px);
  }
}

.Gallery {
  display: none;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9;
  overflow-y: scroll;

  &-container {
    max-width: 1120px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &-in {
    padding-top: 70px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
    margin-bottom: 40px;

    &-title {
      font-size: 24px;
      color: #000;
      font-weight: 600;
      margin-bottom: 24px;
    }

    &-item {
      background-color: transparent;
      cursor: pointer;

      img {
        width: 100%;
        box-shadow: #0000002d 0px 2px 4px !important;
      }

      p {
        font-size: 14px;
        padding-top: 8px;
        font-weight: 400;
        text-align: left;
      }
    }
  }

  &-show {
    &-in {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 8px;
      min-height: 300px;
      max-height: calc(60vh - 64px);
      position: relative;
    }

    &-item {
      &-img {
        width: 100%;
        height: 100%;
        display: flex;
        background-color: transparent;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:first-child {
        grid-column: 1/3;
        grid-row: 1/3;

        img {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }

      &:nth-child(3) {
        img {
          border-top-right-radius: 10px;
        }
      }

      &:nth-child(5) {
        img {
          border-bottom-right-radius: 10px;
        }
      }
    }

    &-more {
      position: absolute;
      right: 24px;
      bottom: 24px;
      background-color: #fff;
      border: 1px solid #222222;
      color: #222222;
      border-radius: 8px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 15px;
      cursor: pointer;
      transition: all 500ms;

      i {
        font-size: 16px;
        margin-right: 8px;
      }

      &:active,
      &:focus {
        transform: scale(0.96);
      }
    }
  }

  &-detail {
    &-item {
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

      &-left {
        width: 30%;

        h3 {
          font-size: 24px;
          color: #000;
          font-weight: 600;
          margin-bottom: 24px;
        }
      }

      &-right {
        width: calc(70% - 20px);
        display: flex;
        flex-wrap: wrap;
        margin-left: 8px;

        &-img {
          width: calc(50% - 8px);
          margin-right: 8px;
          margin-bottom: 8px;

          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(7),
          &:nth-child(10),
          &:nth-child(13),
          &:nth-child(16),
          &:nth-child(19),
          &:nth-child(22),
          &:nth-child(25),
          &:nth-child(28),
          &:nth-child(31) {
            width: 100%;
          }
        }
      }
    }
  }

  &-head {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    padding: 20px 0;
  }

  &-close {
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    transform: translateX(-40px);

    @media (max-width: 1020px) {
      transform: translateX(0);
    }
  }

  &-mobile {
    .swiper-button-prev,
    .swiper-button-next {
      width: 30px;
      height: 30px;
      background-size: 15px 15px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
    }

    .swiper-button-prev {
      background-image: url(/filterimg/villa-slider-left.svg);
      background-position: 6px center;
    }

    .swiper-button-next {
      background-image: url(/filterimg/villa-slider-right.svg);
      background-position: 9px center;
    }

    .swiper-pagination {
      position: absolute;
      width: max-content;
      left: unset;
      right: 10px;
      bottom: 10px;
      font-size: 12px;
      background-color: rgba(34, 34, 34, 0.66);
      border-radius: 4px;
      color: rgb(255, 255, 255);
      font-weight: 600;
      z-index: 9;
      padding: 3px 10px;
    }

    img {
      border-radius: 0 !important;
    }
  }

  &.show {
    display: block;
  }

  @media (max-width: 991px) {
    &-show {
      overflow-x: hidden;

      &-in {
        display: flex;
        height: 100%;
        overflow: auto clip;
        min-width: 100%;
        min-height: 140px;
        scroll-snap-type: x mandatory;
      }

      &-item {
        width: 100%;
        min-width: 220px;

        &-img {
          width: 100%;

          img {
            width: 100%;
            border-radius: 8px;
          }
        }
      }
    }
    &-in {
      overflow: hidden;
      padding-top: 60px;
    }
    &-list {
      display: flex;
      overflow-x: scroll;
      min-height: 220px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgb(221, 221, 221);
      margin-bottom: 0;
      &-item {
        min-width: 220px;
        min-height: 220px;

        img {
          width: 100%;
          height: 85%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    &-detail {
      &-item {
        flex-direction: column;
        margin-bottom: 0;
        &-left {
          width: 100%;
        }

        &-right {
          width: 100%;
        }
      }
    }
    &-head {
      padding: 10px 0;
      background-color: #fff;
    }
  }
}

//RESPONSIVE
@media only screen and (max-width: 1299px) {
  .list-slide .list-navigation-prev {
    right: unset;
    left: 16px;
  }
  .list-slide .list-navigation-next {
    left: unset;
    right: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .view-content {
    .content {
      width: 68%;
    }
    .sidebar {
      width: 32%;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .pricing-included-tab::before {
    left: calc(calc(100vw - 984px) / 2 * -1);
  }
}

@media only screen and (max-width: 991px) {
  .view-detail-section .view-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 157px 157px;
    .area-1 {
      grid-area: 1 / 1 / 3 / 4;
    }
    .area-2 {
      grid-area: 1 / 4 / 2 / 5;
    }
    .area-3 {
      grid-area: 2 / 4 / 3 / 4;
    }
  }
  .pricing-included-tab::before {
    left: -12px;
    right: -12px;
    width: unset;
  }
  .booking-box {
    .dropdown-wrapper:first-child .underbox {
      left: 0;
      right: unset;
    }
  }
}

@media only screen and (max-width: 767px) {
  .activities .ac-item .img-box img {
    height: 430px;
  }
  .rooms-caption {
    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 166px;
    }
    .swiper-button-prev {
      left: 12px;
    }
    .swiper-button-next {
      right: 12px;
    }
  }
  .list-slide .list-navigation-next,
  .list-slide .list-navigation-prev {
    width: 31px;
    height: 31px;
  }
}

@media only screen and (max-width: 575px) {
  .content-menubar-section {
    top: 75px;
  }
  .content-menubar {
    border-radius: 8px !important;
  }
  .view-detail-section {
    .view-gallery {
      grid-template-rows: 180px 70px;
    }
    .action-btn {
      font-size: 13px !important;
      .icon-box {
        width: 31px;
        height: 31px;
        svg,
        i {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
  .short-terms {
    .st-item {
      .st-start {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-right: 24px;
      }
      .st-end {
        margin-left: 0px;
        margin-top: -32px;
        .top-row,
        .bottom-row {
          border-radius: 16px;
        }
      }
    }
  }
  .pricing-included-wrapper {
    .pricing-included-tab .nav-link {
      font-size: 14px !important;
    }
    #includeds-tabContent {
      ul li img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .pool-item .icon-box,
  .distances .icon-box {
    width: 52px;
    height: 52px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .distances-actions .act img {
    width: 30px;
    height: 30px;
  }
  .accordion {
    .ac-header .btn {
      padding: 6px;
      img {
        width: 22px;
        height: 22px;
      }
    }
    .ui-accordion-content {
      padding: 8px 26px 11px;
    }
  }
  .rooms-caption {
    .swiper-button-next,
    .swiper-button-prev {
      top: 180px;
      width: 34px;
      height: 34px;
    }
  }

  .booking-box {
    .dropdown-wrapper {
      .selection {
        .icon-box {
          width: 40px;
          height: 48px;
          svg,
          img {
            width: 18px;
            height: 18px;
          }
        }
      }
      .underbox-wrapper {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        display: flex;
        align-items: end;
        transition: all 0.3s ease;
        padding-top: 50px;
        .underbox-shadow {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: rgba(0, 0, 0, 0.38);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.15s ease, visibility 0.15s ease;
        }
        .underbox {
          position: relative !important;
          top: unset !important;
          left: unset !important;
          right: unset !important;
          transform: none !important;
          border-radius: 16px 16px 0px 0px;
          max-height: 100%;
          display: flex;
          flex-flow: column nowrap;
          & > * {
            padding-left: 24px !important;
            padding-right: 24px !important;
          }
          .underbox-content {
            flex: 1 1 auto;
            overflow: auto;
            padding-top: 24px;
            padding-bottom: 24px;
          }
        }
      }
      &.show {
        .underbox-wrapper {
          top: 0;
          .underbox-shadow {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .list-slide {
    .swiper-wrapper {
      overflow-x: auto;
      .swiper-slide {
        width: 293px;
        opacity: 1;
      }
    }
    .list-navigation-next,
    .list-navigation-prev {
      width: 44px;
      height: 100%;
      border-radius: 0px !important;
      top: 0;
      --swiper-navigation-size: 16px;
      opacity: 0;
      pointer-events: none;
      &::after {
        display: none;
      }
    }
    &.end-shadow {
      .list-navigation-next {
        opacity: 1;
      }
    }
    &.start-shadow {
      .list-navigation-prev {
        opacity: 1;
      }
    }
    .list-navigation-prev {
      left: -12px;
      background: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0)
      );
      padding-right: 24px;
    }
    .list-navigation-next {
      right: -12px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
      );
      padding-left: 24px;
    }
  }
}
