html,
body {
  scroll-padding-top: 160px;
  scroll-behavior: smooth;
  --page-light: #f0f5f6;
}
.main {
  padding-bottom: 50px;
  position: relative;
}
.main-z {
  z-index: 999;
}
.list-item .list-image {
  width: 100%;
}
.popular-section {
  transform: translateY(0);
  margin-bottom: 0;
}
