.categories {
    margin-top: -129px;
    .cat-item {
        .item-caption {
            background-color: rgba(38, 30, 50, 0.4);
            transition: background-color 0.35s ease;
            .title {
                transition: color 0.15s ease;
            }
            .caption-content {
                max-height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: all 0.35s ease;
            }
        }
        &:not(:hover) {
            .item-caption {
                .caption-content {
                    padding-top: 0px !important;
                    padding-bottom: 0px !important;
                }
            }
        }
        &:hover {
            .item-caption {
                background-color: rgba(var(--bs-theme-first-rgb), 0.68);
                z-index: 4;
                .title {
                    color: var(--bs-theme-second) !important;
                }
                .caption-content {
                    max-height: 100%;
                    opacity: 1;
                }
            }
        }
    }
    .ribbon {
        background-color: #FFD128;
        transform: rotate(-45deg) translate(-30%, -45%);
        z-index: 3;
    }
}