.main {
    position: relative;
    padding-top: 49px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 156px;
        background-color: var(--bs-theme-light-2);
        z-index: -1;
    }
}

.counter {
    font-size: 12px;
    border: 2px solid var(--bs-theme-light-2);
    padding: 3px 9px;
    border-radius: 5px;
    color: var(--bs-theme-first);
}
.ribbon {
    background-color: var(--bs-theme-orange);
    color: #ffffff;
    border-radius: 5px;
    line-height: 1.25;
    font-size: 10px;
    display: inline-block;
    padding: 7px 12px;
}

.input-field {
    .line {
        position: absolute;
        top: 100%;
        left: 50%;
        right: 50%;
        height: 1px;
        background-color: var(--bs-theme-second);
        transition: all 0.15s ease;
    }
    input, select, textarea {
        padding: 18px 11px;
        &[type="radio"], &[type="checkbox"] {
            padding: inherit;
        }
        &::placeholder {
            color: #B5B6C3;
        }
        &:focus + .line {
            left: 0;
            right: 0;
        }
    }
    .icon-box {
        width: 60px;
    }
    .select-date {
        input {
            width: 42px;
        }
    }
}


.list-item {
    border: 1px solid transparent;
    transition: all 0.25s ease-in-out;
    &:hover {
        background-color: var(--bs-theme-light-2) !important;
        border-color: var(--bs-theme-light);
        .detail-btn {
            background-color: var(--bs-theme-second);
            span {
                opacity: 1 !important;
            }
        }
    }
    .list-image {
        width: 33.5%;
        max-width: 332px;
    }
    .alert {
        font-size: 11px !important;
    }
    .fav-btn {
        flex-shrink: 0;
        width: 41px;
        height: 41px;
        background-color: rgba(32, 26, 78, 0.07);
        border: 1px solid rgba(255, 255, 255, 0.14);
        backdrop-filter: blur(2px);
        .second {
            transform: translate(-50%, -50%) scale(0);
            transition: all 0.25s ease;
        }
        &.active {
            .second {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
    .item-infos {
        .info {
            transition: background-color 0.15s ease;
            font-size: 13px;
        }
    }
    &:hover {
        .item-infos {
            .info {
                background-color: #ffffff !important;
            }
        }
    }
}

#favs-tab {
    .nav-link {
        &.active {
            color: var(--bs-theme-first) !important;
        }
    }
}

.coupon-item {
    position: relative;
    &::before, &::after {
        content: '';
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        border-radius: 50%;
    }
    &::before {
        left: 0;
        transform: translate(-50%, -50%);
    }
    &::after {
        right: 0;
        transform: translate(50%, -50%);
    }
}

.card {
    padding: 54px 41px 41px 45px;
    display: inline-flex;
    border-radius: 8px;
    position: relative;
    background-color: var(--bs-theme-light-2);
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 35px;
        right: 41px;
    }
    &.card-theme-first {
        background-color: var(--bs-theme-first);
        color: #ffffff;
        background-image: url('../img/tools/wallet.svg');
        background-size: 236px;
        background-repeat: no-repeat;
        background-position: calc(100% + 30px) calc(100% + 30px);
        &::before {
            background-image: url(../img/tools/wallet-white.svg);
        }
    }
}

.bank-list .bank-selector {
    cursor: pointer;
    transition: border-color 0.25s ease;
    img {
        filter: brightness(0);
        opacity: 0.30;
        transition: all 0.25s ease;
    }
}

.bank-list {
    --bs-gutter-x: 0.75rem;
    input {
        &:checked {
            &+.bank-selector {
                border-color: var(--bs-theme-second) !important;
                img {
                    filter: brightness(1);
                    opacity: 1;
                }
            }
        }
    }
}

.sidebar-menu-wrapper {
    opacity: 1 !important;
    visibility: visible !important;
}

.scroll-wrapper {
    position: relative;
    &::before, &::after {
        content: '';
        width: 54px;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
    }
    &::before {
        left: -12px;
        background: linear-gradient(90deg, #fff, rgba(255,255,255,0));
    }
    &::after {
        right: -12px;
        background: linear-gradient(90deg, rgba(255,255,255,0), #fff);
    }
    &.start-shadow::before, &.end-shadow::after {
        opacity: 1;
    }
}

@media only screen and (max-width: 1199px) {
    .list-item {
        .list-image {
            .main-image {
                width: 250px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .main{
        padding-top: 0px;
        &::before {
            display: none;
        }
    }
    .sidebar-col {
        background-color: var(--bs-theme-light-2);
        padding: 48px 12px;
    }
    .content-col {
        padding: 48px 12px;
    }
    .spacer {
        display: none;
    }
    .page-caption {
        padding-top: 0px !important;
        padding-bottom: 24px !important;
        padding-left: 12px;
    }
    .sidebar-menu-wrapper {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 9;
        transition: top 0.30s ease !important;
        padding-top: 48px;
        .sidebar-menu {
            border-radius: 12px 12px 0px 0px !important;
            display: flex;
            flex-flow: column nowrap;
            max-height: 100%;
            .sidebar-content {
                flex: 1 1 auto;
                overflow: auto;
            }
        }
        .sidebar-shadow {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.38);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.15s ease, visibility 0.15s ease;
        }
        &.show {
            top: 0;
            .sidebar-shadow {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .list-item {
        .list-image {
            width: 100%;
            max-width: 100%;
            .main-image {
                height: 350px;
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .list-item {
        .list-image {
            width: 100%;
            .main-image {
                width: 100%;
                height: 230px;
            }
        }
        .content-start,
        .content-end {
            width: 100%;
        }
    }
    .sidebar-col, .content-col {
        padding: 32px 12px;
    }
    .coupon-item {
        &::before, &::after {
            width: 20px;
            height: 20px;
        }
    }
    .card {
        padding: 34px 21px 21px 25px;
        &::before {
            width: 30px;
            height: 30px;
            top: 15px;
            right: 21px;
        }
    }
}