body {
    background-color: var(--bs-theme-light-2);
}

.steps {
    --disabled-color: #D3EBE8;
    --active-color: var(--bs-theme-second);
    .step {
        width: 100%;
        max-width: 162px;
        .step-circle {
            position: relative;
            z-index: 1;
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            background-color: var(--disabled-color);
            .icon {
                opacity: 0;
                transition: 0.15s ease;
            }
        }
        .step-line {
            height: 6px;
            width: 100%;
            left: 50%;
            background-color: var(--disabled-color);
        }
        &.completed {
            .step-title {
                color: var(--bs-theme-second) !important;
            }
            .step-circle, .step-line{
                background-color: var(--active-color);
                .icon {
                    opacity: 1;
                }
            }
        }
        &.active {
            .step-title {
                color: var(--bs-dark) !important;
            }
            .step-circle{
                background-color: var(--active-color);
            }
        }
    }
}

.selections {
    box-shadow: 0px 22px 114px 0px rgba(135, 131, 153, 0.06);
}

.selection {
    .icon-box {
        width: 45px;
        height: 53px;
    }
}

.sidebar {
    .detail-box {
        font-size: 13px;
    }
}

.action-btn {
    width: 41px;
    height: 41px;
}

.personal-infos {
    input,
    textarea {
        &::placeholder {
            color: var(--bs-theme-secondary);
        }
    }
    input,
    textarea {
        &+.focus-line {
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            height: 1px;
            background-color: var(--bs-theme-second);
            transition: all 0.25s ease-in-out;
        }
        &:focus+.focus-line {
            left: 0;
            right: 0;
        }
    }
}

.payment-options {
    .option {
        .sub-options {
            max-height: 0px;
            overflow: hidden;
        }
        .main-option {
            &+label {
                cursor: pointer;
            }
            &:checked {
                &+label {
                    background-color: var(--bs-theme-first) !important;
                    color: #ffffff !important;
                    &+.sub-options {
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .content-submit-wrapper,
    .sidebar-submit-wrapper {
        opacity: 0;
        visibility: hidden;
        transform: scaleY(0);
        transition: all 0.35s ease;
        &.show {
            opacity: 1;
            visibility: visible;
            transform: scaleY(1);
        }
    }
}

@media only screen and (max-width: 1199px) {
    .item-image {
        img {
            width: 100%;
            height: 270px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .sidebar {
        .sb-content {
            border-right: 0px !important;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .item-image img {
        height: 370px;
    }
}

@media only screen and (max-width: 575px) {
    .step-caption {
        font-size: 18px !important;
        svg {
            width: 31px;
            height: 31px;
        }
    }
    .action-btn {
        width: 31px;
        height: 31px;
        svg {
            width: 12px;
            height: 12px;
        }
    }
    .item-image img {
        height: 230px;
    }
    .option {
        .s-option {
            label img {
                width: 46px;
                height: 46px;
            }
        }
    }
    .sidebar {
        .submit-btn {
            border-radius: 8px !important;
        }
    }
    .passport-check {
        position: absolute;
        left: 0px;
        top: calc(100% + 12px);
    }
}