body {
    background-image: url('../img/tools/page-effect.svg');
    background-repeat: no-repeat;
    background-size: 874px 874px;
    background-position: calc(100% + 318px) -223px;
}

.main {
    --container-max-width: 1198px;
    --padding-calc: calc((100vw - var(--container-max-width)) / 2 + 12px);
    position: relative;
    flex: 1 1 auto;
    height: calc(100vh - 83px);
}

.page-effect-wrapper {
    z-index: -1;
}

.page-effect {
    object-position: right top;
    transform: translate(50%, -36%);
    min-width: 874px;
    min-height: 874px;
}

.banner-caption {
    padding-left: var(--padding-calc);
    padding-top: 223px;
    padding-bottom: 72px;
}

.tab-wrapper {
    padding-right: var(--padding-calc);
    padding-bottom: 63px;
}

.tab-caption {
    .icon-box {
        width: 60px;
        height: 60px;
    }
}

.input-field {
    .line {
        position: absolute;
        top: 100%;
        left: 50%;
        right: 50%;
        height: 1px;
        background-color: var(--bs-theme-second);
        transition: all 0.15s ease;
    }
    input {
        padding: 18px 11px;
        &::placeholder {
            color: #B5B6C3;
        }
        &:focus + .line {
            left: 0;
            right: 0;
        }
    }
    .icon-box {
        width: 60px;
    }
}

#membership-tab {
    .nav-link {
        &.active {
            display: none !important;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .content-section { 
        .start-col {width: 56%;}
        .end-col {width: 44%;}
    }
    .banner-caption {
        .big-title {
            font-size: 37px !important;
        }
    }
}

@media only screen and (max-width: 1699px) {
    body {
        background-position: calc(100% + 438px) -253px;
    }
}

@media only screen and (max-width: 1199px) {
    .main {
        --container-max-width: 984px;
    }
}
@media only screen and (max-width: 991px) {
    .main {
        --padding-calc: 12px;
        padding: 32px 0px;
    }
    .tab-wrapper {
        padding-bottom: 0px;
        padding-left: 12px;
    }
}
@media only screen and (max-width: 575px) {
    .main {
        height: calc(100vh - 83px);
    }
}